/* CSS Document */
#history-current-players-container {
	margin-top: 1.5em;
}

#history-chart-header {
	margin-top: 1em;
}

#history-chart {
	height: 250px;
	width: 33.333%;
}

#pie-chart {
	height: 250px;
	width: 33.333%;
}

#history-stats-container {
	width: 33.333%;
	padding-top: 1em;
}

.history-stat-container {
	width:33.3%;
}

.history-stat-double-container {
	width: 50%;
}

.history-stat-header,.history-stat-header-small {
	margin-bottom: -.3em;
	width:100%;
	text-align:center;
	color: #aaa;
}

.history-stat-header-small {
	margin-bottom: -.1em;
}

.history-option {
	margin-left: .5em;
}

.history-option:first-child {
	margin-left: 0;
}

.history-option.light {
	margin-top: .95em;
}

#history-charts-container {
	width: 100%;
	overflow:hidden;
}

#history-charts-inner-container {
	width: 300%;
}

.history-most-regular-name {
	width: 7em;
	margin-left: .5em;
	margin-right: .5em;
}

.history-most-regular-counter {
	/*margin-left: 17em;*/
	width: 1.6em;
	margin-left: .2em;
}

.history-most-regular-container {
	padding-top: .1em;
	padding-bottom: .1em;
}

.history-most-regular-outer-container {
	margin-left:8em;
}