/* overlap declarations for profile pages (team, user, group, etc) */
#body-white-back {
	padding-top: 2em;
}

.find-result-container {
	border-bottom: none;
}

/* top section */
.user-name,.profile-name {
	font-size: 3em;
	line-height: .9em;
}
/*
#user-buttons-container,#profile-buttons-container {
	position:absolute;
	right: 1.5em;
	width: 16em;
	float:right;
	overflow-x:hidden;
	height: 30em;
	padding-right: .3em;
	/*margin-top: .2em;*/
	/*
}
*/

.profile-options-outer-container {
	position:relative;
	top: 0;
	right:0;
	float:left;
	clear:both;
	overflow:hidden;
	height: 24px;
	margin-top:-1.2em;
}

.profile-options-inner-container {
	/*padding-top: 1em;*/
	/*margin-top: -5em;*/
}

.profile-options-button {
	background: #e9e9e9;
	padding: .1em 0 .1em 0;
	width: 8.2em;
}

.profile-option-container,
.profile-option-container-narrow {
	width: 6em;
	padding-bottom: .2em;
}

.profile-option-container-narrow {
	width: 5.2em;
}

.profile-options-container {
	margin-bottom: 5px;
}

.profile-in-out-container {
	margin-top: .5em;
}

.profile-name-container {
	/*margin-bottom: 3em;*/
}

/* common alerts */

.profile-invite-result > img {
	width:55px;
	height:45px;
}

#inviteSearchAlert-container {
	width: 20em;
	margin: 1em auto;
	display:block;
	float:none;

}

#inviteSearchAlert-container > .input-overlay,
#inviteSearchAlert-container > input {
	background: #fff;
}

#inviteSearchAlert {
	width: 19.3em;
	background: #fff;
}

#invite-alert-container,
#message-alert-container{
	width: 34em;
	min-height: 6em;
	margin-top: -8em;
	margin-left: -17em;
}

#emails-alert-container {
	margin-top: -15em;
	width: 38em;
	margin-left: -19em;
	
}


#invite-alert-results {
	width: 95%;
}

.userName-search-result {
	padding: .5em;
	width: 100%;
	background:#fff;
	border-top: 1px solid #e9e9e9;
}

.userName-search-result.selected {
	background: #e9e9e9 !important;
}


.reminders-alert-yesno-container > .selectable-text:first-child {
	margin-left: 1.5em;
}

.reminders-alert-yesno-container > .selectable-text:nth-child(2) {
	margin-left: 2em;
}

#messageSubject-container {
	width: 20em;

}

#messageSubject-container > input {
	width: 19.5em;
}

#messageBody-container {
	width: 36em;
	height: 7em;
	margin-left:.4em;
}

#messageBody-container > textarea {
	width: 35em;
	height: 6.5em;
}

#messageBody-container > .input-overlay {
	margin-top: -5.3em;
}

#messageSubmit {
	margin-right:.5em;
	float:right;
}

#user-buttons-container,
#profile-buttons-container {
	padding-left: .5em;
	float:right;
	overflow-x:hidden;
	overflow-y:hidden;
	/*margin-top: .2em;*/
	
}


#user-buttons-container {
	width: 17em;
	height: 7em;
}

#profile-buttons-container {
	height: 7em;
}

/*
.profile-buttons-inner-container {
	width: 100%;
	margin-left: 15em;
}
*/

.profile-buttons-inner-container {
	width: 100%;
	margin-left: 0;
}

.profile-buttons-innermost-container {
	background:#fff;
	width: 15em;
}

#profile-top-alert {
	margin-bottom: 1em;
}

#leave-button {
	font-size: .9em;
	padding-bottom: .1em;
	padding-top: 0em;
}

#unsubscribe-button {
	font-size: .75em;
	margin-right: 1em;
	margin-top: .7em;
}

.current-position {
	min-width: 1px;
	height: 1.2em;
	margin-top: .8em;
	margin-bottom: .8em;
}

.profile-animate-buttons {
	width: 1em;
	height: 6em;
	float:left;
}

.profile-animate-buttons > img {
	margin: 2.5em 0 0 .1em;
}

.larger-button {
	width: 6.3em;
}

.smaller-button {
	width: 2.7em;
}

/*
#user-buttons-container>p,#user-buttons-container>div,#profile-buttons-container>p,#profile-buttons-container>div {
	float:right;
	margin-right: 1em;
}
*/

.profile-buttons-second-row,.profile-buttons-margin-right {
	margin-right: 1em;
}

.profile-buttons-second-row:first-child {
	margin-right:0;
}


#profile-buttons-container>div.dropdown-menu-hidden-container {
	margin-right: 0;
}

#user-buttons-container > p:first-child,#user-buttons-container > div:first-child,
#profile-buttons-container > p:first-child,#profile-buttons-container > div:first-child {
	margin-right: 0;
}

#dropdown-menu-manage > .dropdown-menu-option-container > p {
	margin-top: .2em;
}

#user-buttons-container > #invite-to {
	margin-right: 0;
	clear:right;
}

.user-city-container,.profile-city-container {
	margin: .3em 0 0 .2em;
}


/* section definitions */


/* player styling */
.profile-player-overlay-container,
.profile-player-overlay-container-small {
	width: 96px;
	height: 96px;
	position:absolute;
	z-index: 3;
	top:0;
	left:0;
	opacity: 0;
	filter: alpha(opacity=0);
}

.profile-player-overlay-container-small {
	width: 47px;
	height:45px;
	opacity:1;
	z-index:0;
	filter: alpha(opacity=100);
}

.team-player-container-small {
	margin-top: 16px;
}

.profile-players-num-maybeNot {
	padding:11px 0; 
	width:48px;
	margin-top:1px; 
	margin-right:2px; 
	letter-spacing: -2px;
}

.team-player-container-small > .team-confirm-img {
	position:relative;
	z-index:5;
	opacity:1;
	filter: alpha(opacity = 100);
}

.team-player-container-small > .hover-dark {
	background: #000;
}

.team-player-container-small > .box-img-container-small {
	width: 48px;
	position:relative;
	z-index:4;
}

.profile-player-overlay {
	position: absolute;
	width: 100%;
}

.profile-open-player-container,.profile-join-player-container {
	width: 94px;
	height: auto;
	border: solid 1px #e9e9e9;
	text-align: center;
	padding-top: 39px;
	padding-bottom: 39px;
	margin-right: -1px;
}

/* post message section */
#postMessage-container {
	width: 88%;
	height: 5.8em;
	font-size: 1em;
	margin: 0 0 0 1.15em;
}

#input-overlay-postMessage {
	top: -5.3em;
}

textarea.post-message {
	width: 98%;
	height: 5.3em;
	max-height: 5.3em;
	max-width: 98%;	
}

.profile-post-button {
	float:right;
	clear:both;
	margin-right: 1.4em;
	font-size: 1em;
}

/* players section */
.team-player-going-description-container {
	filter: alpha(opacity = 0);
	opacity: 0;
}

.team-players-section-header-going {
	margin: .3em 1em 0 .3em;
}

.team-player-container,
.team-player-container-small {
	padding: 1px 1px 0 0;
	position:relative;
}

.team-confirm-img {
	margin: -15px 0 0 -1px;
	width:14px;
	height:14px;
	border:solid 1px #fff;
	border-bottom: none;
	float:left;
}

.team-player-container-small > .team-confirm-img.light-background,
.team-player-container-small > .team-confirm-img.light-back,
.team-player-container-small > .team-confirm-img.dark-red-back,
.team-player-container-small > .team-confirm-img.green-back,
.box-img-container-small > .team-confirm-img,
.box-img-container-tiny > .team-confirm-img {
	width:8px;
	height:8px;
	margin-top: -9px;
}



.profile-confirm {
	height: 12px;
	width: 12px;
	margin-top: 3px;
}

#team-players-container {
	margin-bottom:2em;
}



/* newsfeed section */
.newsfeed-in,
.newsfeed-out,
.newsfeed-maybe {
	padding: 0 0em;
	color: #777 !important;
}

.newsfeed-in {
	color: #58bf12;
}

.newsfeed-out {
	color: #C60000;
}

.newsfeed-maybe {
	color: #8d8d8d;
}

.newsfeed-notification-container.light-back {
	border-bottom-color: #ddd;
}

.newsItem-message.light-back > .profile-message-container > .profile-message {
	background: #ddd;
}

.newsfeed-tab-container {
	margin-top: .5em;
}

.newsfeed-tab {
	padding: .1em 0em;
	width: 6.5em;
	text-align: center;
	cursor: pointer;
	position: relative;
}

.newsfeed-tab:hover {
	color: #8d8d8d;
}

.newsfeed-tab.selected {
	background: #e9e9e9;
	color: #8d8d8d;
}

.newsfeed-tab > .new {
	position:absolute;
	top: 4px;
	right: 1px;
	padding: .1em .25em 0 .25em;
	display:none;
}

.profile-newsfeed-container {
	width: 80%;
}

.profile-newsfeed {
	margin-top: .2em;
}

.profile-message-container {
	margin-left: 1em;
	width: 92.5%;
}

.profile-message {
	width: auto;
	/*border: 1px solid #bbb;*/
	padding: .3em .6em;
	max-width:93%;
}

.profile-delete-message {
	margin-top: .3em;
}

.newsfeed-notification-text-container {
	width:92.5%;
	margin-top: .4em;
}

.newsfeed-notification-text {
	min-height: 1.8em;
}

.newsfeed-notification-time {
	float:right;
}


/* narrow column */
/* ratings */
.user-sport-rating-other-outer {
	float:right;
	height: 1em;
	margin-right: 0;
}

.user-sport-rating-percent {
	display:none;
}

.profile-narrow-rating-container {
	margin: 1em 0;
}

.profile-narrow-winOrLoss {
	width: 1.3em;
}

/* alerts */

#manage-remove-player-alert-container {
	margin-top: -16em;
	margin-left: -19em;
	width: 38em;
}

.profile-manage-button {
	margin-left: 12em;
}

.profile-manage-button:nth-child(2) {
	margin-left: 2em;
}

#manage-team-info-alert-container {
	margin-top: -16em;
	margin-left: -17.5em;
	width: 35em;
}

.team-manage-team-info-tab {
	padding: .2em .6em;
	color: #D9D9D9;
}

.team-manage-team-info-tab:hover {
	color: #bbb;
}

.team-manage-team-info-tab-selected {
	color: #8d8d8d;
	background: #e9e9e9;
}

.team-manage-team-info-lower-container {
	padding-top: 1.5em;
}


#team-manage-team-info-img {
	margin-left: 1em;
}

.team-manage-team-info-name-container {
	margin-left: 2em;
	width: 22em;
}

.team-manage-team-info-name {
	margin-top: -.15em;
	width: 94%;
}

.remove-captain {
	margin-top: -.15em;
}

.team-manage-team-info-captain {
	padding-left: 1px;
	padding-top: 1px;
}

#team-manage-team-info-name {
	border:none;
	font-size: 2em;
	margin-top: 0;
	padding-top: 0em;
	padding-left: 0;
	width: 10em;
}

.team-manage-team-info-button {
	margin-right: .5em;
}

input[type=text].profile-manage-team-info-roster-limit {
	width: 2em;
}

.alert-cancel-button {
	margin-top: 1.35em;
	margin-right: .3em;
}

#canceled-alert-container {
	width: 34em;
	margin-left: -17em;
	margin-top: -10em;
}

#game-canceled-back {
	margin-right: 9.7em;
}

#game-canceled-back.game-canceled-first {
	margin-right: 2em;
}

#game-canceled-leave {
	margin-right: 5em;
}

#addToGame-alert-container {
	width: 36em;
	margin-top: -5em;
	margin-left: -18em;
}

/* sub-players page */
#player-description-container > p {
	margin-top: .75em;
	width: 33%;
	margin-bottom: .2em;
}

#player-description-container > p:last-child {
	text-align: right;
}


/* sub-page general */
.profile-header-sub {
	margin-top: .45em;
	margin-left: .3em;
}

/* user side info */
#user-side-info-container {
	right:0;
	top: 20%;
	position: fixed;
	padding: .5em .5em .5em .5em;
	z-index: 10;
}

.user-side-info-add {
	width: 8em;
}

/* invite by email page */
#profile-invite-container {
	width: 30em;
	position:absolute;
	top: 50%;
	left:50%;
	margin-left: -15em;
	margin-top: -14em;
}

.profile-invite-back {
	margin-top: 3.2em;
}
	
#note-container {
	width: 96.5;
	height: 4.2em;
	max-height: 4.2em;
	margin-top: .5em;
	display:none;
}

#note {
	width: 97.3%;
	max-width: 97.3%;
	height: 80%;
	max-height: 80%;
}

#input-overlay-note {
	margin-top: -2.1em;
}

/* alert */
#success-alert-container {
	width: 20em;
	margin-left: -10em;
	margin-top: -7em;
}

/* signup alerts */
#signup1-alert-container {
	width: 30em;
	margin-left:-15em;
	margin-top: -20em;
}

#firstName,
#lastName {
	width: 14em;
}

#lastName-container,
#firstName-container {
	float:none;
	margin:.5em auto;
	font-size:1.06em;
	display:block;
	width: 14.7em;
}


#email-container,
#signupPassword-container {
	float:none;
	width: 14.7em;
	display:block;
	margin: .5em auto;
	font-size:1.06em;
}

#email,
#signupPassword {
	width: 14em;
}

.games-signup-option-container {
	padding: 4%;
	width: 88%;
	margin-left:2%;
	/*border: 1px solid #ddd;*/
	
}

.game-signup-hover-target {
	filter: alpha(opacity = 0);
	opacity:0;
}

#game-signup-minimal {
	border-top: none;
}

#game-signup-login {
	width: 6.1em;
}

#game-signup-logo {
	margin-left: 8.9em;
	width: 160px;
}

#game-signup-how-container {
	position:absolute;
	top: 340px;
	left:-20%;
	width: 140%;
	height: 120px;
	background: #333;
}

#game-signup-options-container {
	margin-top: 1em;
}

/* pending invites */
.profile-pending-name {
	width: 14em;
	min-height: 1px;
}

.profile-pending-username {
	width: 18em;
	min-height: 1px;
}

.profile-pending-numInvites {
	margin-top: .7em;
}

.game-subscribers-container {
	height: 1.7em;
}

.profile-pending-actions-container { 
	filter: alpha(opacity = 0);
	opacity: 0;
}

.game-subscribers-container.selectable:hover {
	background:#e9e9e9;
}

.game-subscribers-container.selected {
	background: #ddd;
}

.game-subscribers-container.selected:hover {
	background: #ccc;
}

.profile-pending-actions-container {
	margin-top: 1.2em;
}

.profile-pending-actions-container > p {
	margin-left: 3em;
}

.profile-pending-actions-container > p:first-child {
	margin-left: 1em;
}

#profile-pending-subheader-bold {
	margin-top: .8em;
}

/* smart phones */
@media screen and (max-device-width: 568px) {
	#user-side-info-container {
		display:none;
	}
	
	#team-players-container .profile-player-overlay-container {
		opacity: 1 !important;
	}
	
	#team-players-container .profile-player-overlay-container {
		width: 99%;
		height: 23px;
		overflow: hidden;
		top: 1px;
	}
	
	#team-players-container .box-img-container-medium img {
		width: 122%;
	}
	
	#team-players-container .profile-player-overlay-container {
		opacity: 1 !important;
	}
		
	#team-players-container .team-player-container .box-img-container-medium {
		width: 100%;
		height: auto;
	}
	
	#team-players-container .profile-open-player-container,
	#team-players-container .profile-join-player-container {
		display:none;
	}
	
	.newsfeed-notification-text-container,
	.profile-message-container {
		width: 83% !important;
	}	
	
	.profile-message-container .newsfeed-notification-time {
		width: auto;
	}
	
	.box-img-container-small {
		width: 10%;
		height: auto;
	}
	
	.box-img-container-small img {
		width: 122%;
		margin-left: -11%;
		opacity: 1 !important;
	}
	
	#postMessage-container {
		width: 85%;
		margin-left: 2%;
	}
	
	#team-players-container a.team-player-container-small {
		width: 10%;
	}
	
	#team-players-container a.team-player-container-small > .box-img-container-small {
		width: 100%;
		height: auto;
	}
	
	.team-player-container-small > .hover-dark {
		display:none;
	}
	
	.schedule-container {
		margin-top: 2em;
		width: 130px;
	}
	
	.schedule-in,
	.schedule-out,
	.schedule-maybe {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	
}

@media screen and (min-width:321px) and (max-width:480px) and (max-device-width: 568px)  {
	/* landscape, smaller phones (iphone4) */
		
		#team-players-container .team-player-container,
		#team-players-container .profile-open-player-container,
		#team-players-container .profile-join-player-container {
			/* 4 user pictures/row */
			width: 24.5%;
			
		}
		
		.schedule-container {
			margin-top: 0em;
		}
		
						
}

@media screen and (min-width:481px) and (max-device-width: 568px)  {
	/* landscape, larger phones (iphone5) */
	#team-players-container .team-player-container,
	#team-players-container .profile-open-player-container,
	#team-players-container .profile-join-player-container {
		/* 5 user pictures/row */
		width: 19.6%;
		
	}

	.schedule-container {
		margin-top: 0em;
	}
}

@media screen and (max-width:320px) and (max-device-width: 568px)  {
	/* portrait */
		#team-players-container .team-player-container,
		#team-players-container .profile-open-player-container,
		#team-players-container .profile-join-player-container {
			/* 3 user pictures/row */
			width: 33%;
			
		}	
		
		.newsfeed-tab {
			width: 33.1%;
		}
		
		
}