/* user profile css */

/* overwrite */
#dropdown-menu-hidden-container-invite-to {
	width: 8.5em;
}

.availabilty-calendar-container {
	display:none;
}

.availability {
	cursor: default;
}

/* top user info section */

#profile-buttons-container {
	width: 17em;
	padding-right: .6em;
}

#user-buttons-container>.dropdown-menu-holder {
	margin-right: 0;
}

#user-already-friend {
	width: 8em;
	margin-top: .1em;
	line-height: 1.1em;
}

#user-message {
	width: 5em;
}

#user-player-cancel-request {
	margin-top: .5em;
}

/* sports section */
#user-sports-container {
	margin-top: 2.5em;
	height: 3.9em;
	width: 100%;
}

.user-sport-tab-container {
	float:left;
	margin-right: 1.8em;
}

.user-sport-tab-back {
	float:left;
	margin-top: .4em;
	background: #ccc;
}

.user-sport-tab-selected-container {
	float:left;
	display:none;
	width: 10em;
}

.user-sport-tab-large-container,.user-sport-container {
	border: 1px solid #ddd;
}

.user-sport-tab-large-container {
	background: #e9e9e9;
	padding: .2em .5em 1.2em .4em;
	width: auto;
	height: auto;
	float:left;
	border-bottom: none;
}

.user-sport-tab-selected {
	float:left;
}

.user-sport-tab-text {
	margin: .5em 0 0 .2em;
	font-size: 1.25em;
}

.user-sport-container {
	float:left;
	clear:both;
	width:92%;
	padding: 1.5em 4% .5em 4%;
	margin-top: -.8em;
	display:none;
	border-top:none;
}

.user-sport-container-selected {
	display: block;
}

.user-sport-left-container {
	float:left;
	width: 50%;
}

.user-sport-right-container {
	float:right;
	width: 45%;
}

.user-sport-selected > .user-sport-tab-back {
	display:none;
}

.user-sport-selected > .user-sport-tab-selected-container {
	display:block;
}

/* sport rating section */
.user-sport-rating-container {
	float:right;
	width: 100%;
}

.user-rating-container {
	width: 32.3%;
	margin-right: 1%;
}

.user-rating-container-last {
	margin-right:0;
	width: 33.3%;
}

.user-rating-container-first {
	margin-bottom: 2px;
}

.user-sport-rating-overall-outer {
	width: 98%;
	height: 1.3em;
	float:right;
}

.user-sport-rating-other-outer {
	width: 80%;
	float:right;
	height: 1em;
}

.user-sport-rating-other-outer > div > p {
	margin-top: -.1em;
}

.user-sport-rating-percent {
	display:none;
}

.user-sport-num-ratings {
	margin-top: .4em
}

.user-sport-want-outer-container {
	margin-top: 2em;
}

.user-sport-want-looking {
	margin-right: .5em;
}

.user-sport-type {
	margin-left: .8em;
}

.user-sport-typeSuffix {
	margin-left: 1.2em;
}
	
/* user narrow column */
.user-narrow-info-container {
	margin: 0 0 .4em .4em;
}


/* user recent activities */

.newsfeed-notification-text-container {
	width: 88%;
}

#user-activities-container {
	float:left;
	clear:both;
	margin: 2.5em 0 0 0;
	width: 100%;
}
	

