/* CSS Document */

#contact-container {
	width: 38.2em;
	height: 30em;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -19.1em;
	margin-top: -15em;
}

#contact-inner-container {
	width: 100%;
}

#question {
	width: 34.7em;
	height: 10em;
}

#question-container {
	height: 11em;
	width: 35.4em;
}

#question-container > .input-overlay {
	margin-top: -8.8em;
}

#email {
	width: 18em;
}

#contact-email-subtext {
	margin: -.4em 0 .3em .5em;
}