/* create.css */

/* overwrite */
.calendar-day {
	height: 13%;
}

.calendar-past > p {
	opacity: .5;
}

.calendar-today {
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-box-shadow: none;
}

.input-container {
	clear:both;
	margin-top: .1em;
}

#headerSearchBar-container {
	margin-top: .5em;
}

/* section containers */
.create-section {
	overflow:hidden;
	margin-top: 4em;
}

.create-section:first-child {
	margin-top: 1em;
}

.create-section-gmap {
	width: 100.5%;
}

.create-section-inner {
	display:none;
}

.create-section-inner-gmap {
	display:block;
	opacity:0;
	position:relative;
	z-index: -4;
}

/* create index page where choose game or team */
.create-choose-container {
	margin-top: .2em;
	width: 20em;
	height: 23em;
	margin-left: 8em;
}

.create-choose-container-second {
	margin-left: .5em;
}

.create-choose-title {
	margin-top: 5em;
}

.create-choose-img {
	margin-top: 3em;
	margin-left: 4.5em;
}

.create-choose-subtext {
	margin-top: 3em;
}

/* create game */
.create-section-container {
	margin-top: 1em;
}

#missingSport-button {
	width: 8em;
}

/* sport section */
.create-game-sport {
	margin-left: 1em;
}

.create-game-sport-selected {
	background: #58bf12;
}

.create-game-sport-type {
	width: 4.2em;
}

.selectable-text:nth-child(2) {
	margin-left: .4em;
}

.create-game-sport-type-container {
	margin-top: 1.5em;
	margin-left: 7.8em;
}

.create-type-or {
	margin-top: .5em;
}

/* when section */
.create-game-when-calendar-container {
	width: 50%;
	height: 20em;
}

.calendar-selectable {
	cursor: pointer;
}

.calendar-day-selected {
	background: #58bf12;
}

.calendar-left-arrow,.calendar-right-arrow {
	margin-top: .15em;
}

.create-game-time-container > .dropdown-menu-container {
	width: 3.2em;
	margin-left: .5em;
}

.create-game-time-container > .dropdown-menu-hidden-container > .dropdown-menu-options-container {
	width: 3.8em;
}

.create-game-time-container > .dropdown-menu-container {
	font-size: 1.5em;
}

.create-game-time-container {
	margin: 8.5em 0 0 2em;
}

.create-game-time-outer-container {
	width: 50%;
}

#available-players-container {
	margin-top: 4em;
}

.create-similar-game-container {
	width: 98%;
	padding: .5em 1% .5em 1%;
	background: #fff;
}

.create-similar-game-players {
	margin-top: -.3em;
}


/* where section */
#gmap {
	width: 99.8%;
	height: 20em;
	float:left;
	border:1px solid #222;
}

/* details section */
p.create-details-selectable-text.selectable-text {
	margin-left: 1em;
}

p.create-details-selectable-text.selectable-text:first-child {
	margin-left: 0;
}

.create-details-inner-container {
	width: 33%;
}

.create-details-container,.create-details-container-first {
	margin-top: .75em;
	padding-top: .75em;
	border-top: 1px solid #e9e9e9;
}

.create-details-container-first {
	border:none;
}

input[type=text].create-input {
	width: 2em;
}

.create-selectable-text-container {
	width: 9.5em;
}

#minPlayers-container,
#rosterLimit-container,
#skillLimitMax-container,
#ageLimitMax-container,
#skillLimitMin-container,
#ageLimitMin-container {
	font-size: 1.1em;
	margin-top: 0;
}

#skillLimitMax-container,
#ageLimitMax-container {
	clear:none;
}

.create-details-separator {
	margin: .3em .4em 0 .2em;
}

.create-details-checkbox {
	margin-top: .3em;
}

#create-game-submit {
	margin-top: 2em;
}


/* success page */
#create-success-container {
	width: 30em;
	/*
	position:absolute;
	top: 50%;
	*/
	position:relative;
	float:left;
	clear:both;
	left:50%;
	margin-left: -15em;
	margin-top: 1.5em;
}

#create-success-emails {
	width: 96.5%;
	max-width: 96.5%;
	height: 5em;
	max-height: 5em;
}

#note-container {
	width: 100%;
	height: 4.2em;
	max-height: 4.2em;
	margin-top: .5em;
	display:none;
}

#note {
	width: 97.3%;
	max-width: 97.3%;
	height: 80%;
	max-height: 80%;
}

#input-overlay-note {
	margin-top: -2.1em;
}
	

#userName-container {
	width: 100%;
	font-size: 1.05em;
	margin-top:.6em;
}

#userName-container > input[type=text] {
	width: 98%;
	font-family: 'Futura-Heavy';
}

#userName-container > .input-overlay {
	font-family: 'Futura-Heavy';
}

#create-userName-results-container {
	width: 96%;
}

.create-userName-result {
	padding: .5em;
	width: 100%;
	background:#fff;
	border-top: 1px solid #e9e9e9;
}

.create-userName-result.selected {
	background: #e9e9e9 !important;
}

.create-userName-result:first-child {
	border:none;
}


/* team page */
/* team info */
#teamName-container {
	font-size: 2.2em;
	margin-top: 1em;
	clear: none;
	float:right;
}

#teamName-container > input[type=text] {
	width: 14em;
}

#create-team-rosterLimit {
	margin-top: .6em;
}

.create-teamInfo-inner-container {
	width: 20%;
	margin-left: 5%;
}

.create-teamInfo-inner-container:first-child {
	width: 25%;
	margin-left: 0;
}

#create-teamInfo-avatar {
	/*margin-top: 12px;
	margin-left: 1px;*/
}



#create-teamInfo-avatar-overlay {
	position:absolute;
	top: 45%;
}

#create-teamInfo-avatar-container {
	position:relative;
	margin-top: 12px;
	margin-left: 1px;
}

#create-teamInfo-avatar-container:hover {
	border: solid 1px #444;
	margin-top: 11px;
	margin-left: 0px;

}


/* alerts */
#avatars-alert-container {
	width: 35em;
	margin-top: -15em;
	margin-left: -17.5em;
}

.create-team-avatar {
	padding: 2px 3px 2px 3px;
}

.create-team-avatar:hover,.create-team-avatar-selected {
	border: solid 1px #58bf12;
	margin: -1px;
}
	

#create-team-avatar-alert-img {
	margin: 0 auto;
	display:block;
}

#create-team-submit {
	margin-top: .5em;
}

#create-description {
	margin-top: 3em;
}
