/* overwrite */
.schedule-out {
	margin-right: 0;
}

.schedule-in {
	margin-right: .5em;
	margin-left:0;
}

.schedule-maybe {
	margin-right:0em;
	margin-top:.5em;
	width: 9em;
}

/* top section */
/*
.game-title-suffix {
	font-size: .65em;
	font-family: 'Futura-Heavy';
	color: #8d8d8d;
}
*/

.profile-city-container {
	margin-top: .1em;
}

.game-location {
	margin-top: -.1em;
	margin-left: .2em;
}

.game-distance {
	margin-top: .4em;
	margin-left: .6em;
}

.game-rating-box {
	margin-left: 15%;
	width: 12%;
	padding: 1em 0 1em 0;
}

.narrow-overlay-container {
	position:absolute;
	top: 1em;
	left: -1.5em;
	padding: .7em 2em;
	
}

#game-plus-one {
	font-size: .9em;
}

#subscribe-button {
	margin-left: 40%;
	margin-top: .5em;
}

#subscribe-container {
	margin-top: 0em;
	margin-bottom: 0em;
	position: relative;
}

#subscribe-x {
	position:absolute;
	top: 0;
	right: 10px;
}

#unsubscribe-button:hover {
	text-decoration: underline;
}

/* alerts */
#cancel-game {
	margin-left: .3em;
}

/* ON PROFILE.CSS 
#canceled-alert-container {
	width: 34em;
	margin-left: -17em;
	margin-top: -10em;
}

#game-canceled-back {
	margin-left: 8em;
}
*/

#manage-cancel-alert-container {
	width: 34em;
	margin-left: -17em;
	margin-top: -10em;
}

#game-cancel-subscribe {
	margin-left: 3em;
	margin-top: .5em;
}

#cancel-game {
	margin-top: .5em;
}

#upload-alert-container {
	margin-top: -10em;
	margin-left: -16em;
	width: 32em;
	height: 15em;
}



#cancel-reason {
	width: 78%;
	height: 2em;
	
}

.game-cancel-reason {
	margin-left: 2.3em;
}

#stash-available-alert-container {
	width: 30em;
	margin-left: -15em;
	margin-top: -10em;
}

.game-stash-button {
	margin-left: 4em;
}

/* edit game page */
.create-section-inner-gmap {
	margin-top: 0;
	z-index: 2;
	opacity: 1;
}

#edit-game-change-captain {
	margin-top: 1.5em;
}

#change-captain-alert-container {
	height: 10em;
	width:34em;
	margin-top: -5em;
	margin-left:-17em;
}

/* reminders */
#reminder-hour,
#reminder-ampm {
	width: 3.4em;
	margin-left:12.2em;
}

#reminder-ampm {
	margin-left: 1em;
}

#dropdown-menu-reminder-hour,
#dropdown-menu-reminder-ampm{
	width: 3.5em;
}
