@charset "utf-8";
/* global.css */

/* general declarations */

@font-face {font-family: 'Futura-Book';src: url('/webfonts/futura/25AA4D_0_0.eot');src: url('/webfonts/futura/25AA4D_0_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/futura/25AA4D_0_0.woff') format('woff'),url('/webfonts/futura/25AA4D_0_0.ttf') format('truetype');}

@font-face {font-family: 'Futura-Heavy';src: url('/webfonts/futuraHeavy/25CEC6_0_0.eot');src: url('/webfonts/futuraHeavy/25CEC6_0_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/futuraHeavy/25CEC6_0_0.woff') format('woff'),url('/webfonts/futuraHeavy/25CEC6_0_0.ttf') format('truetype');}


* {
	margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
	height:100%;
}	

body {
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, circle cover, #ffffff 0%, #F5F5F5 45%, #DFDFDF 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(45%,#F5F5F5), color-stop(100%,#DFDFDF)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, circle cover, #ffffff 0%,#F5F5F5 45%,#DFDFDF 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, circle cover, #ffffff 0%, #F5F5F5 45%, #DFDFDF 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, circle cover, #ffffff 0%, #F5F5F5 45%, #DFDFDF 100%); /* IE10+ */
	background: radial-gradient(circle at center, #ffffff 0%,#F5F5F5 45%,#DFDFDF 100%); /* W3C */
	background-size:cover;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#DFDFDF',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-repeat:no-repeat, repeat, repeat;
	background-attachment:fixed;
}

.centered-body {
	width:61.25em;
	overflow:hidden;
	margin:0 auto;
}

p,div,span,input {
	font-family:"Futura-Book", Arial, Helvetica; /*futura not displayed properly by firefox */
	-webkit-font-smoothing: antialiased;
	font-weight:normal;
	color:#333333;
}

ul {
	padding-left: 2em;
}

.arial {
	font-family: Arial,Helvetica;
}

.header {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* make text unselectable */
/*
p,div,span {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:default;
}
*/

#test {
	float:left;
	font-size:1em;
}

a {
	text-decoration: none;
}

img {
	border:none;
}

.darkest {
	color:#444;
}

.lightest {
	color:#F3F3F3;
}

.lighter {
	color:#E0E0E0;
}

.light {
	color:#BBB;
}

.medium {
	color:#8d8d8d;
}

.dark {
	color:#777;
}

.green {
	color:#58bf12;
	/* 64ce1c */
}

.white {
	color:#fff;
}

.center {
	text-align:center;
}

.white-back {
	background:#ffffff;
	border:#D6D6D6 1px solid;
	padding:.5em 1em;
}

.dark-back {
	background:#222;
}

.dropshadow {
	-moz-box-shadow:    2px 2px 4px 3px #CECECE;
 	-webkit-box-shadow: 2px 2px 4px 3px #CECECE;
  	box-shadow:         1px 1px 3px 1px #CECECE;
}

.bold {
	font-family: 'Futura-Heavy', Arial, Helvetica;
	line-height: 1.2em;
}

.no-bold {
	font-weight:normal;
}

.capitalize {
	text-transform: capitalize;
}

.pointer {
	cursor:pointer;
}

.defailt {
	cursor: default;
}

.clear {
	clear:both;
}

div.no-clear,span.no-clear,p.no-clear {
	clear:none;
}

#body-white-back {
	width: 92.5%;
	margin-left:.75%;
	padding: 1.5em 1.5em;
	position:relative;
	float:left;
	clear:both;
	background:#fff;
	-webkit-box-shadow: 2px 0px 8px 0px #bbb,-2px 0px 8px 0px #bbb;
	-moz-box-shadow: 2px 0px 8px 0px #bbb,-2px 0px 8px 0px #bbb;
	box-shadow: 2px 0px 8px 0px #bbb,-2px 0px 8px 0px #bbb;
	z-index:1;
}

/* end general declarations */


/* body declarations */

.body-column-narrow {
	width:25%;
	position: relative;
}

.body-column-narrow-inner {
	padding-left:1.5em;

}

.body-column-wide {
	width:74.95%;
	height: 100em;
}

.narrow-column-picture {
	width: 100%;
	height:10em;
	background:#222;
}

.narrow-column-header {
	float:left;
	clear:both;
	width:100%;
	font-size:1.1em;
	background:#E0E0E0; /* same as .lightest */
	text-align:center;
	padding: .1em 0;
	cursor:pointer;
	margin-top: .5em;
}

.narrow-column-header-selected {
	background:#C6C6C6;
}

.narrow-column-body {
	border: 1px #E0E0E0 solid;
	float:left;
	width: 94.7%;
	padding: .1em .25em;
	display:none;
}

.animate-hidden-container {
	width:100%;
	overflow:hidden;
	float:left;
	clear:both;
}


/* end body declarations */



/* force footer to bottom of page */
.centered-body.body-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -5.5em;
}

.footer, .push {
	clear: both;
	height: 5.5em; 
}

.push {
	height:7em;
}

/* end force footer */


/* header */
#logo-large {
	float:left;
	width: 200px;
	height:100px;
}

.header-bar {
	background: #222;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#222));
	background-image: -webkit-linear-gradient(top, #444, #222); 
	background-image: -moz-linear-gradient(top, #444, #222);
	background-image: -ms-linear-gradient(top, #444, #222);
	background-image: -o-linear-gradient(top, #444, #222);
	width:100%;
	min-width:70em;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
}

div#header-bar-tall {
	height:2.5em;
	top:100px;
}

.header-nav-container {
	float:left;
	clear:both;
	position:relative;
	z-index:2;
	width:100%;
	height:2.5em;
}

.nav-back {
	float:left;
	height:inherit;
	width:13em;
}

div.nav-back:hover {
	/*background: #444;*/
}


.nav {
	font-family:"nevis";
	font-size: 1.063em;
}

.nav-out {
	float:left;
	width:100%;
	padding: .7em 0;
	text-align:center;
}

.nav-back#nav-back-signup {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#58bf12), to(#1C931F));
	background-image: -webkit-linear-gradient(top, #58bf12, #1C931F); 
	background-image: -moz-linear-gradient(top, #58bf12, #1C931F);
	background-image: -ms-linear-gradient(top, #58bf12, #1C931F);
	background-image: -o-linear-gradient(top, #58bf12, #1C931F);
	width:10em;
}

.nav-back#nav-back-signup:hover {
	background:#58bf12;
}

.nav-back#nav-back-login {
	width:6em;
	float:right;
	height:inherit;
}

.nav-dropdown#nav-back-login:hover {
	background:none;
}


.nav:hover {
	color:#fff;
}

.header-dropdown-arrow {
	width:1em;
	height:.625em;
}

.dropdown-back-outer {
	position:absolute;
	width:10em;
	height:6.6em;
	top:0;
	left:0;
	z-index:-1;
	overflow:hidden;
	display:none;

}

.dropdown-back-inner {
	height:inherit;
	margin-top:-6.6em;
	background:#222;
}

.dropdown-back-inner#nav-dropdown-inner-login,.dropdown-back-outer#nav-dropdown-outer-login {
	width:14em;
}
	
/* end header */

/* footer */
.footer {
	width:100%;
	min-width:61.25em;
	background: #222;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#222));
	background-image: -webkit-linear-gradient(top, #444, #222); 
	background-image: -moz-linear-gradient(top, #444, #222);
	background-image: -ms-linear-gradient(top, #444, #222);
	background-image: -o-linear-gradient(top, #444, #222);
}

.footer-section {
	width: 30%;
	float:left;
	font-size:1em;
	margin: .32em 0 0 1%;
	
}

#footer-section2 {
	margin-left:1%;
	width:32%;
}

#footer-section3 {
	width: 24%;
	margin-left:12%;
}

.footer-section-title {
	font-weight:normal;
}

.footer-section-links {
	float:left;
	font-size: .8em;
}

.footer-section-url-container {
	color:inherit;
	float:left;
}

a.footer-section-url {
	text-decoration: underline;
	color:inherit;
}

/* end footer */
	

/* fade effects */
.fade-current {
	z-index: 3;
}

.fade-next {
	z-index: 2;
}

/* end fade effects */

/* form elements */
input[type=text],input[type=password] {
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #E0E0E0;
	padding-left:4px;
	color:#444;
	font-size:inherit;
	float:left;
	width: 13em;
	height: 1.4em;
}

input[type=checkbox] {
	float:left;
}

.input-container {
	float:left;
	width:auto;
	height:1.8em;
	overflow:hidden;
	font-size:.9em;
	padding:0 0;
	color:#777;
	margin: .5em 0 .5em 0em;
}

.input-container#username-container, .input-container#password-container,
 .input-container#username-main-container, .input-container#password-main-container{
	padding: 0 1em;
}

.input-overlay {
	position:relative;
	float:left;
	clear:both;
	top:-1.4em;
	margin: 0px 0px 0px .38em;
	font-size:inherit;
	color: inherit;
	cursor:text;
}

div#username-container {
	margin-top: .5em;
}

div#password-container {
	margin-top: 0em;
	margin-bottom: .2em;
}

.checkbox-container {
	cursor: default;
	float: left;
	width:10em;
}

.checkbox-text {
	float:left;
	margin:-0.0625em 0 0 .3em;
}

.dropdown-login-submit {
	float:right;
}

.dropdown-checkbox-forgot-container {
	float:left;
	clear:both;
	font-size: .8em;
	margin: 0px 0px 0px 1.3em;
}

#dropdown-forgot-password {
	float:left;
	clear:both;
	margin:0 0 0 0.2em;
	font-size:.9em;
}

.error {
	color:#C00;
}

/* end form elements */


/* tooltip */

#tooltip {
	width:auto;
	height:auto;
	position:absolute;
	z-index:10;
	opacity:0;
	display:none;

}

.tooltip-tip {
	float:left;
	position:relative;
	z-index:2;

}

#tooltip-body {
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #aaa;
	float:left;
	clear:both;
	font-size:.9em;
	padding: .1em .3em;
	margin: -.1em;
	max-width: 18em;
	background:#EEE;
	color:#8d8d8d;
}

/* end tooltip */

/* general page definitions */

.section-header-finish {
	float:left;
}

.green-alert-box {
	width: 95%;
	padding: 1em 2%;
	float:left;
	clear:both;
	text-align:center;
	background:#E6FFE6;
	border:2px dashed #58bf12;
}
	
	