@charset "utf-8";
/* global.css */

/* general declarations */

@font-face {font-family: 'Futura-Book';src: url('/webfonts/futura/25AA4D_0_0.eot');src: url('/webfonts/futura/25AA4D_0_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/futura/25AA4D_0_0.woff') format('woff'),url('/webfonts/futura/25AA4D_0_0.ttf') format('truetype');}

@font-face {font-family: 'Futura-Heavy';src: url('/webfonts/futuraHeavy/25CEC6_0_0.eot');src: url('/webfonts/futuraHeavy/25CEC6_0_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/futuraHeavy/25CEC6_0_0.woff') format('woff'),url('/webfonts/futuraHeavy/25CEC6_0_0.ttf') format('truetype');}


* {
	margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
	height:100%;
}	

body {
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, circle cover, #ffffff 0%, #F5F5F5 45%, #DFDFDF 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(45%,#F5F5F5), color-stop(100%,#DFDFDF)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, circle cover, #ffffff 0%,#F5F5F5 45%,#DFDFDF 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, circle cover, #ffffff 0%, #F5F5F5 45%, #DFDFDF 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, circle cover, #ffffff 0%, #F5F5F5 45%, #DFDFDF 100%); /* IE10+ */
	background: radial-gradient(circle at center, #ffffff 0%,#F5F5F5 45%,#DFDFDF 100%); /* W3C */
	background-size:cover;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#DFDFDF',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-repeat:no-repeat, repeat, repeat;
	background-attachment:fixed;
}

.centered-body {
	width:61.25em;
	overflow:hidden;
	margin:0 auto;
}

p,div,span,input {
	font-family:"Futura-Book", Arial, Helvetica; /*futura not displayed properly by firefox */
	-webkit-font-smoothing: antialiased;
	font-weight:normal;
	color:#333333;
}

ul {
	padding-left: 2em;
}

.arial {
	font-family: Arial,Helvetica;
}

.heavy {
	font-family: 'Futura-Heavy';
}

.header {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.smaller-text {
	font-size: .75em;
}

.larger-text {
	font-size: 1.2em;
}

/* make text unselectable 

p,div,span {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:default;
}
*/

#test {
	float:left;
	font-size:1em;
}

a {
	text-decoration: none;
}

img {
	border:none;
}

.darkest {
	color:#444;
}

.lightest {
	color:#F3F3F3;
}

.lighter {
	color:#E1E1E1;
}

.light {
	color:#BBB;
}

.medium {
	color:#8d8d8d;
}

.medium-background {
	background: #8d8d8d;
}

.dark {
	color:#777;
}

.green,.green-bold {
	color:#58bf12;
	/* 64ce1c */
}

.green-bold {
	font-family: 'Futura-Heavy';
}

.red {
	color:#C60000;
}

.white {
	color:#fff;
}

.center {
	text-align:center;
}

.white-back {
	background:#ffffff;
	border:#D6D6D6 1px solid;
	padding:.5em 1em;
}

.dark-back {
	background:#222;
}

.red-back {
	background: #F3B1B1;
}

.dropshadow {
	-moz-box-shadow:    2px 2px 4px 3px #CECECE;
 	-webkit-box-shadow: 2px 2px 4px 3px #CECECE;
  	box-shadow:         1px 1px 3px 1px #CECECE;
}

.bold {
	font-family: 'Futura-Heavy', Arial, Helvetica;
	line-height: 1.2em;
}

.no-bold {
	font-weight:normal;
}

.underline {
	text-decoration: underline;
}

.capitalize {
	text-transform: capitalize;
}

.pointer {
	cursor:pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.defailt {
	cursor: default;
}

.clear {
	clear:both;
}

div.no-clear,span.no-clear,p.no-clear,img.no-clear {
	clear:none;
}

div.selected-green,img.selected-green,p.selected-green {
	background: #58bf12;
}

#body-white-back {
	width: 92.5%;
	margin-left:.75%;
	padding: 1.5em 1.5em;
	position:relative;
	float:left;
	clear:both;
	background:#fff;
	-webkit-box-shadow: 2px 0px 8px 0px #bbb,-2px 0px 8px 0px #bbb;
	-moz-box-shadow: 2px 0px 8px 0px #bbb,-2px 0px 8px 0px #bbb;
	box-shadow: 2px 0px 8px 0px #bbb,-2px 0px 8px 0px #bbb;
	z-index:1;
}

/* end general declarations */


/* body declarations */

.body-column-narrow {
	width:25%;
	position: relative;
}

.body-column-narrow-inner {
	padding-left:1.5em;

}

.body-column-wide {
	width:74.95%;
}

.narrow-column-picture {
	width: 98%;
	border: solid 1px #444;
}

.narrow-column-header {
	float:left;
	clear:both;
	width:100%;
	font-size:1.1em;
	background:#E0E0E0; /* same as .lightest */
	text-align:center;
	padding: .1em 0;
	cursor:pointer;
	margin-top: .5em;
}

.narrow-column-header-selected {
	background:#C6C6C6;
}

.narrow-column-body {
	border: 1px #E0E0E0 solid;
	float:left;
	width: 94.7%;
	padding: .1em .25em;
	display:none;
}

.animate-hidden-container {
	width:100%;
	overflow:hidden;
	float:left;
	clear:both;
	
}


/* end body declarations */



/* force footer to bottom of page */
.centered-body.body-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -5.5em;
}

.footer, .push {
	clear: both;
	height: 5.5em; 
}

.push {
	height:7em;
}

/* end force footer */


/* header */
#logo-large {
	float:left;
	width: 200px;
	height:100px;
}

#logo-small {
	float:left;
	margin-top: .1em;
	height:32px;
	width: 110px;
}

.header-bar {
	background: #222;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#222));
	background-image: -webkit-linear-gradient(top, #444, #222); 
	background-image: -moz-linear-gradient(top, #444, #222);
	background-image: -ms-linear-gradient(top, #444, #222);
	background-image: -o-linear-gradient(top, #444, #222);
	width:100%;
	min-width:70em;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
}

div#header-bar-tall {
	height:2.5em;
	top:100px;
}

div#header-bar-short {
	height:2.2em;
	top:0px;
}

.header-nav-container,.header-nav-container-short {
	float:left;
	clear:both;
	position:relative;
	z-index:2;
	width:100%;
	height:2.5em;
}

.header-nav-container-short {
	height: 2.2em;
}


.nav-back,.nav-back-short {
	float:left;
	height:inherit;
	width:13em;
}

.nav-back-short {
	width: 6em;
	height: 2em;
}

#header-home-icon {
	float:left;
	margin: .2em 0 0 .8em;
}

.nav-back-short > a > .header-dropdown-text {
	font-size: .9em;
}

div.nav-back:hover {
	/*background: #444;*/
}

#nav-find {
	margin-left: 1.5em;
}


.nav {
	font-family:"nevis";
	font-size: 1.063em;
}

.nav-out,.nav-out-short {
	float:left;
	width:100%;
	padding: .7em 0;
	text-align:center;
}

.nav-out-short {
	padding: .5em 0;
}

.nav-back#nav-back-signup {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#58bf12), to(#1C931F));
	background-image: -webkit-linear-gradient(top, #58bf12, #1C931F); 
	background-image: -moz-linear-gradient(top, #58bf12, #1C931F);
	background-image: -ms-linear-gradient(top, #58bf12, #1C931F);
	background-image: -o-linear-gradient(top, #58bf12, #1C931F);
	width:10em;
}

.nav-back#nav-back-signup:hover {
	background:#58bf12;
}

.nav-back#nav-back-login {
	width:6em;
	float:right;
	height:inherit;
}

.nav-dropdown#nav-back-login:hover {
	background:none;
}


.nav:hover {
	color:#fff;
}

.header-dropdown-arrow {
	float:left;
	margin: .2em 0 0 .1em;
}

.header-dropdown-text {
	float:left;
	color: inherit;
	font-family: inherit;
}

.dropdown-back-outer {
	position:absolute;
	width:10em;
	height:6.6em;
	top:0;
	left:0;
	z-index:-1;
	overflow:hidden;
	display:none;

}

.dropdown-back-inner {
	height:inherit;
	margin-top:-6.6em;
	background:#222;
}

.dropdown-back-inner#nav-dropdown-inner-login,.dropdown-back-outer#nav-dropdown-outer-login {
	width:14em;
}
	
/* end header */

/* footer */
.footer {
	width:100%;
	min-width:61.25em;
	background: #222;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#222));
	background-image: -webkit-linear-gradient(top, #444, #222); 
	background-image: -moz-linear-gradient(top, #444, #222);
	background-image: -ms-linear-gradient(top, #444, #222);
	background-image: -o-linear-gradient(top, #444, #222);
}

.footer-section {
	width: 30%;
	float:left;
	font-size:1em;
	margin: .32em 0 0 1%;
	
}

#footer-section2 {
	margin-left:1%;
	width:32%;
}

#footer-section3 {
	width: 24%;
	margin-left:12%;
}

.footer-section-title {
	font-weight:normal;
}

.footer-section-links {
	float:left;
	font-size: .8em;
}

.footer-section-url-container {
	color:inherit;
	float:left;
}

a.footer-section-url {
	text-decoration: underline;
	color:inherit;
}

/* end footer */
	

/* fade effects */
.fade-current {
	z-index: 3;
}

.fade-next {
	z-index: 2;
}

/* end fade effects */

/* form elements */
input[type=text],input[type=password] {
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #E0E0E0;
	padding-left:4px;
	color:#444;
	font-size:inherit;
	float:left;
	width: 13em;
	height: 1.4em;
}

input[type=checkbox] {
	float:left;
}

.input-container {
	float:left;
	width:auto;
	height:1.8em;
	overflow:hidden;
	font-size:.9em;
	padding:0 0;
	color:#777;
	margin: .5em 0 .5em 0em;
}

.input-container#username-container, .input-container#password-container,
 .input-container#username-main-container, .input-container#password-main-container{
	padding: 0 1em;
}

.input-overlay {
	position:relative;
	float:left;
	clear:both;
	top:-1.4em;
	margin: 0px 0px 0px .38em;
	font-size:inherit;
	color: inherit;
	cursor:text;
}

div#username-container {
	margin-top: .5em;
}

div#password-container {
	margin-top: 0em;
	margin-bottom: .2em;
}

.checkbox-container {
	cursor: default;
	float: left;
}

#checkbox-container-rememberMe {
	width:10em;
}

.checkbox-text {
	float:left;
	margin:-0.0625em 0 0 .3em;
}

.dropdown-login-submit {
	float:right;
}

.dropdown-checkbox-forgot-container {
	float:left;
	clear:both;
	font-size: .8em;
	margin: 0px 0px 0px 1.3em;
}

#dropdown-forgot-password {
	float:left;
	clear:both;
	margin:0 0 0 0.2em;
	font-size:.9em;
}

.error {
	color:#C00;
}

/* end form elements */


/* tooltip */

#tooltip {
	width:auto;
	height:auto;
	position:absolute;
	z-index:10;
	opacity:0;
	display:none;

}

.tooltip-tip {
	float:left;
	position:relative;
	z-index:2;

}

#tooltip-body {
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #aaa;
	float:left;
	clear:both;
	font-size:.9em;
	padding: .1em .3em;
	margin: -.1em;
	max-width: 18em;
	background:#EEE;
	color:#8d8d8d;
	cursor:default;
}

/* end tooltip */

/* general page definitions */

.section-header-finish {
	float:left;
}

.green-alert-box,.red-alert-box {
	width: 95%;
	padding: 1em 2%;
	float:left;
	clear:both;
	text-align:center;
	background:#E6FFE6;
	border:2px dashed #58bf12;
}

.red-alert-box {
	background:#EDA9A9;
	border:2px dashed #C60000;
}

.sport-icon-large {
	width: 50px;
	height: 50px;
	float:left;
}

/* end general page definitions */

/* slider */

.jscroller
{
	position: static;
	z-index: 998;
}

.slider
{
	position: absolute;
	z-index: 1000;
}
.inner
{
	width: 1px;
	height: 100%;
	z-index: 999;
}
.lgripper
{
	position: relative;
	z-index: 1001;
	top: 0px;
	border: none;
	outline: none;
	cursor:pointer;
}
.ticks
{
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	position: absolute;
	z-index: 997;
}
.ticks li
{
	display: inline;
	float: left;
	font-size: xx-small;
}
.slider.style1
{
	background-color: #D7D7D7;
	border: solid 1px #B6B6B6;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
}
.inner.style1
{
	background-color: #58bf12;;

}
.lgripper.style1
{
	background: url(/images/global/slider/tracker.png) 0px 0px no-repeat;
}

/* end slider */

/* availability calendar */

.availabilty-calendar-container {
	float:left;
	clear:both;
	width: 98%;
}

.availability-calendar-day-container {
	width: 13.1%;
	float:left;
	text-align:center;
}

.availability { 
	float:left;
	clear:both;
	width:100%;
	height: 1em;
	border-top: 2px solid #fff;
	background:#D8D8D8;
}

.availability-first {
	border-top: none;
}

.availability-light-background {
	background: #e0e0e0;
}

.availability-calendar-section {
	float:left;
	clear:both;
	width: 98%;
	border-top: solid .1em #8d8d8d;
	padding-right: 2%;
}

.availability-calendar-section-last {
	padding-right:0;
}

.availability-calendar-section-bottom {
	border-bottom: solid .1em #8d8d8d;
}

.availability-calendar-label-container {
	float:left;
	padding-right: .1em;
}

.availability-calendar-label-hour,.availability-calendar-label-time {
	float:right;
	clear:both;
	text-align:center;
	margin-top: 1.05em;
}

.availability-calendar-label-hour:first-child {
	margin-top: .5em;
}

.availability-calendar-copyable {
	float:left;
	margin-left: .1em;
	background: #e0e0e0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #ddd;
	padding: 0 .1em;
}

.availability-calendar-copyable:hover {
	background:#C6C6C6;
}
	
/* end availability calendar */

/* dropdown menus*/
.dropdown-menu-container,.dropdown-menu-holder {
	float:left;
	cursor:default;
	width:8em;
}

.dropdown-menu-holder {
	display:none;
}


.dropdown-menu-selected {
	float:left;
	background: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border:1px solid #E0E0E0;
	padding: 0 1% 0 2%;
	width: 93%;
	color: #8d8d8d;
	
}

.dropdown-menu-selected:hover {
	background: #f0f0f0;
	
}

div.dropdown-menu-container-reverse{
	background: #999;
	color: #fff;
}

div.dropdown-menu-container-reverse:hover {
	background: #999;
}

.dropdown-menu-hidden-container {
	float:left;
	clear:both;
	width:100%;
	display:none;
	opacity: 0;
}

.dropdown-menu-tip {
	float:right;
	clear:both;
	position:relative;
	z-index: 10;
	margin: 0 .4em -1px 0;
	
}

.dropdown-menu-options-container {
	float:left;
	clear:both;
	background: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border:1px solid #E0E0E0;
	padding: 0 0 0 0;
	width: 93%;

}

.dropdown-menu-option-container {
	float:left;
	clear:both;
	width:98%;
	background:#ffffff;
	padding: .2em 1%;
	border-top: 1px dotted #e0e0e0;
}

.dropdown-menu-option-container:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-top-left-radius:5px;
	-moz-border-top-right-radius:5px;
}

.dropdown-menu-option-text {
	float:left;
	color: inherit;
}

.dropdown-menu-option-img {
	float:right;
	clear:none;
	margin-right: .2em;
}

#dropdown-menu-arrow {
	margin-top: .25em;
}

/* end dropdown menus */

/* alerts */

.alert {
	display: none;
}

.alert-black-back {
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .75;
	z-index: 995;
}

.alert-container {
	position:fixed;
	top: 50%;
	left: 50%;
	max-width: 61.25em;
	z-index: 996;
}

.alert-header {
	float:left;
	font-size: 1.1em;
	margin-left: 5px;
}

.alert-x {
	float:right;
	margin-right: 5px;
	font-size: 1.2em;
}

.alert-body-container {
	float:left;
	clear:both;
	width: 97%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background:#fff;
	padding: .6em 1.5%;
}

/* end alert box */

/* button styling */

.button {
	cursor: pointer;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #ccc;
	background: #f0f0f0;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e9e9e9));
	background-image: -webkit-linear-gradient(top, #fff, #e9e9e9); 
	background-image: -moz-linear-gradient(top, #fff, #e9e9e9);
	background-image: -ms-linear-gradient(top, #fff, #e9e9e9);
	background-image: -o-linear-gradient(top, #fff, #e9e9e9);
	padding: .05em .8em 0 .75em;
	text-align:center;
	float:left;
	color: #8d8d8d;
}

.button:hover {
	background: #e9e9e9;
}

.green-button {
	background: #58bf12;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#58bf12), to(#1C931F));
	background-image: -webkit-linear-gradient(top, #58bf12, #1C931F); 
	background-image: -moz-linear-gradient(top, #58bf12, #1C931F);
	background-image: -ms-linear-gradient(top, #58bf12, #1C931F);
	background-image: -o-linear-gradient(top, #58bf12, #1C931F);
	border-color: #2D7522;
	color: #fff;

}

.green-button:hover {
	background: #58bf12;
}


.import-button {
	width: 5em;
	height: 1.2em;
	overflow:hidden;
	position:relative;
	cursor:default;
}

.import-button dd>input, .import-button input {
	font-size: 3em;
	position:relative;
	top: -1em;
	left: -.2em;
	z-index: 4;
	opacity: 0;
	zoom: 0;
	filter: alpha(opacity=0);
	cursor:pointer;
}

	

	
	