/* CSS Document */
#history-current-players-container {
	margin-top: 1.5em;
}

#history-chart-header {
	margin-top: 1em;
}

#history-chart {
	height: 250px;
	width: 33.333%;
}

#pie-chart {
	height: 250px;
	width: 33.333%;
}

#history-stats-container {
	width: 33.333%;
	padding-top: 1em;
}

.history-stat-container {
	margin-left: 5em;
}

.history-stat-header {
	margin-bottom: -.3em;
}

.history-option {
	margin-left: .5em;
}

.history-option:first-child {
	margin-left: 0;
}

.history-option.light {
	margin-top: .95em;
}

#history-charts-container {
	width: 100%;
	overflow:hidden;
}

#history-charts-inner-container {
	width: 300%;
}