@charset "utf-8";
/* homepage.css */

/* fixes */

.header-bar.dropshadow {
	/* problem with dropshadow and homepage imgs overlap */
	-moz-box-shadow:    none;
 	-webkit-box-shadow: none;
  	box-shadow:         none;
}

/* end fixes */

/* scrolling images */
#homepage-large-img-container {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	min-width:61.25em;
	height:25em;
	overflow:hidden;
	background:#222;
	z-index:1;
}

img.homepage-large-img {
	position:absolute;
	top:0;
	left:50%;
	margin-left:-800px;
	width:1600px;
	min-width:62.5em;
	height:25em;
}

img#homepage-large-img1 {
	background:#000;
}

img#homepage-large-img2 {
	background:#FF3;
}

img#homepage-large-img3 {
	background:#0C3;
}

img#homepage-large-img4 {
	background:#33F;
}

.homepage-large-img-center-container {
	position:absolute;
	overflow:visible;
	z-index:5;
	left:50%;
	top:0;
	height:25em; /* same as img.homepage-large-img */
	margin-left: -30.62em;
}

#homepage-large-img-dot-container {
	position:absolute;
	bottom:.5em;
	left:0;
	width:80px;
	height: 16px;
	z-index:100;
}

.homepage-large-img-dot {
	width:16px;
	height:16px; /* same as #homepage-large-img-dot-container */
	background:url(/images/homepage/img_dot_combined.png) no-repeat;
	cursor:pointer;
	float:left;
	padding:0 .125em;
}

.homepage-large-img-dot-selected {
	background-position: 0px -19px;
}

#homepage-large-img-holder {
	height:25em;
	float:left;
	clear:both;
}

/* end scrolling images */

/* below images */

.homepage-description-container {
	float:left;
	width:45%;
	padding: 1em;
	margin: 2.5em 0em 0em 0em;
	cursor:default;
}

#homepage-description-container1,#homepage-description-container3 {
	clear:both;
}

#homepage-description-container2,#homepage-description-container4 {
	float:right;
	margin-right:.2em;
}

.homepage-description-header {
	font-size:2em;
	font-weight:bold;
	margin: -1.5em 0 .4em;
}

.homepage-description-img {
	position:relative;
	left:50%;
	top:-50px;
	margin-left:-45px;
	width:90px;
	height:90px;
	
}

.homepage-learn {
	float:right;
	clear:both;
}

/* end below images */
