/* how.css */
.how-title {
	font-size:2.7em;
	padding: 0 0em;
	text-align:left;
	float:left;
	margin: .4em 0 .4em .3em;
}

/* absolute positioned icons */

#how-icon-holder {
	float:left;
	clear:both;
	margin-top:1em;
	width:1px;
}

#how-icon-inner-container {
	margin:0 auto;
	width:72em;
	background: #222;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#222));
	background-image: -webkit-linear-gradient(top, #444, #222); 
	background-image: -moz-linear-gradient(top, #444, #222);
	background-image: -ms-linear-gradient(top, #444, #222);
	background-image: -o-linear-gradient(top, #444, #222);
}

#how-icon-container {
	position:absolute;
	width:100%;
	z-index:2;
}

#how-icon-holder,#how-icon-inner-container,#how-icon-container {
	height: 19em;
}

.how-icon-section {
	float:left;
	position:relative;
	z-index:20;
	width:23.7%;
	margin-left: 1%;
	height:100%;
}

.how-icon-img {
	width: 8em;
	height:8em;
	display:block;
	margin: 1em auto 0 auto;
}

.how-icon-num {
	float:left;
	clear:both;
	padding: .05em .4em;
	margin: 1em 0 0 .4em;
	text-align:center;
	border: 2px solid #fff;
	font-size:1.2em;
}

.how-icon-header {
	float:left;
	font-size:1.2em;
	margin: 1.25em 0 0 .4em;
}

.how-icon-subtext {
	float:left;
	clear:both;
	width:80%;
	margin: .1em 0 0 3.1em;
}

/* end absolute positioned icons */

/* below icons */
.how-section {
	float:left;
	width: 43%;
	padding: 1.5em 2% 1.25em 2%;
	cursor:default;
}

.how-section-subtext {
	float:left;
	clear:both;
}

.clear {
	float:left;
	clear:both;
	width:100%;
}

.how-section:hover {
	background: #E6FFE6;
}

.how-section-header {
	font-size: 1.1em;
}

.how-section:nth-child(odd) {
	clear:both;
}

.how-section:nth-child(even) {
	float:right;
}

/* what sports */
.how-sport-icon {
	margin-left: .75em;
}

.how-sport-icon:first-child {
	margin-left:0;
}

#how-sport-icons-container {
    float: right;
    right: 50%;
    position: relative;
	margin-top: .5em;
}
#how-sport-icons-inner-container {
    float: right;
    right: -50%;
    position: relative;
}

#how-sport {
	height: 1em;
}

#how-signup-button {
	width: auto;
	margin-left: 5.25em;
	margin-top: 1.2em;
}