/* member.css for member homepage */

/* schedule section */

.schedule-container {
	margin-top:.2em;
}

#member-schedule-days-container {
	float:right;
	width:auto;
}

.member-schedule-day-container {
	float: left;
	padding: 0 .4em;
	height: inherit;
	font-size: 19px;
	margin-left: 0em;
	max-height:32px;
}

.member-schedule-day-subtext {
	float:left;
	font-size: .6em;
}

.member-schedule-day {
	float:left;
	clear:both;
	margin-top: -.25em;
	padding: 0 .35em;
}

#member-schedule-body-container {
	float:left;
	clear:both;
	width: 100%;
	overflow:hidden;
}

.member-schedule-day-body-container {
	float:left;
	clear:both;
	display:none;
	padding: 0;
	width: 100%;
	background:#fff;
}


.member-schedule-day-body-pagination-container {
	float:left;
	clear:both;
	width: 100%;
	/*height: 1.6em;*/
	margin: .5em 0 0 0;
}

.member-schedule-day-body-outer-container {
	float:left;
	width: 100%;
	overflow:hidden;
}

.member-schedule-day-body-inner-container {
	width: 600%;
	float:left;
}

.member-schedule-day-body-game-container {
	float:left;
	clear:none;
	width: 16%;
	padding: .3em .33%;

}

/*
.member-schedule-day-body-game-container:hover {
	background: #E6FFE6;
}
*/

.member-schedule-day-body-game-left-container {
	float:left;
	width:55%;
}

.member-schedule-day-body-game-right-container {
	float:right;
	width: 28%;
}

.member-schedule-day-body-players-container,
.member-schedule-day-body-team-players-container {
	float:left;
	width: 20%;
	margin: .4em 0 0 0;
}

.member-schedule-day-body-team-players-container {
	float: left;
}

.member-schedule-day-body-players-confirmed {
	width:100%;
}

.member-teamGame-confirmed {
	margin-bottom: -.1em;
}

.member-schedule-in,.member-schedule-out {
	margin-top: .2em;
}

.member-schedule-in {
	float:left;
	margin-left: 1.5em;
}

.member-schedule-out {
	float:right;
	margin-right: 1.5em;
}

.member-game-schedule-in,
.member-game-schedule-out {
	margin-top: .6em;
}


.member-schedule-button-selected {
	background: #e9e9e9;
	padding-top: .1em;
}

.member-schedule-day-body-players,
.member-schedule-day-body-players-text {
	float:left;
	width: 100%;
	color:inherit;
	font-family: inherit;
	height: 1em;
}

.member-schedule-day-body-players {
	margin-top:-.2em;
}


.member-schedule-day-none {
	margin: 3em 0 2em 0;
}

/*
.member-schedule-day-body-container:nth-child(2) {
	display:block;
}
*/

/* end schedule section */



/* find section */

.member-find-looking-container {
	float:right;
	margin: .5em .1em 0 0 ;
}

#member-find-looking {
	float:left;
	margin: .1em .4em 0 0 ;
}

#member-looking-sports,#member-looking-types {
	margin-right: .5em;
}

#member-looking-sports>.dropdown-menu-selected>.dropdown-menu-option-text, 
#member-looking-types>.dropdown-menu-selected>.dropdown-menu-option-text,
#member-looking-times>.dropdown-menu-selected>.dropdown-menu-option-text {
	color: #bbb; /* overwrite normal dropdown color */
}

#member-looking-sports>.dropdown-menu-selected>.dropdown-menu-container-reverse-text, 
#member-looking-types>.dropdown-menu-selected>.dropdown-menu-container-reverse-text,
#member-looking-times>.dropdown-menu-selected>.dropdown-menu-container-reverse-text{
	color: #fff;
}

#member-move-map {
	padding: 3px 0;
	width:60%;
}

#member-move-map-inner-container {
	position: absolute;
	z-index: 2;
	top: 0;
	left:0;
	width:100%;
}

#member-move-map-container {
	position: absolute;
	top: -1px;
	margin-top: 0;
	left:0;
	width: 100%;
	z-index: 9;
}

#member-move-map-back {
	position:absolute;
	top: 0;
	left:0;
	width:100%;
	height: 24px;
}

.member-move-space-holder {
	width: 20%;
	min-height: 1px;
}

#gmap {
	width: 99.8%;
	height: 22em;
	float:left;
	border:1px solid #222;
	border-top: none;
	margin-top: -1px;
}

#member-find-outer-container {
	margin-top: 1px;
}

#member-find-tab-past {
	border-left: 1px solid #ccc;
}

.member-find-tab {
	padding: .2em 0 .1em 0;
	width: 12em;
	background:#e9e9e9;
	position:relative;
}

.member-find-tab:hover {
	color: #8d8d8d;
}

.member-find-tab.selected {
	color: #8d8d8d;
	background: #fff;
	font-family: "Futura-Heavy";
}

.member-find-tab.selected:hover {
	color: #666;
}

#member-find-tab-container {
	position:relative;
	margin-top:-24px;
	height:24px;
	width: 59%;
}

.member-find-tab-num {
	position:absolute;
	top:6px;
	right: 9px;
	font-size:.7em;
	padding: 0px 4px 0px 3px;
}

.member-find-tab > .member-find-tab-num {
	
	color: #fff;
	background:#c9c9c9;
	
}

.member-find-tab.selected > .member-find-tab-num {
	color: #8d8d8d;
	background:none;
	display:none;
}

.member-find-lower-outer-container {
	float:left;
	clear:both;
	width:100%;
	overflow:hidden;
	max-height: 147px;
}

.member-find-lower-outer-inner-container {
	float:left;
	max-height:500%;
}

.member-find-lower-inner-container {
	float:left;
	clear:both;
}

.member-find-game-container {
	float:left;
	clear:both;
	border-bottom: 1px solid #e9e9e9;
	padding: 8px;
}

a.member-find-game-container:hover {
	background: #E6FFE6;
}

.member-find-game-container > * {
	float:left;
	margin-left: .8em;
}

.member-find-game-number {
	float:left;
	padding: 0em .3em;
	margin-left: 0;
}

.member-find-game-number-container {
	min-width: 1.8em;
	margin-left: 0;
}

.member-find-game-sport {
	float:left;
	margin-left: .2em;
	width: 5em;
}

.member-find-game-type {
	width: 5.5em;
}

.member-find-game-players {
	width: 3em;
}

.member-find-game-date {
	width: 7em;
}

div.member-find-game-date-day,div.member-find-game-date-hour {
	width: 2.3em;
	color:inherit;
	float:left;
}

div.member-find-game-date-hour {
	width: 2.7em;
}

.member-find-game-park {
	width: 12.4em;
	margin-left: 1.5em;
}

.member-find-game-arrow {
	margin: .2em 0 0 0;
}

.member-find-view-more {
	float: right;
	clear: both;
	font-size: .9em;
	margin-top: -1.2em;
}


.member-find-loading {
	float:left;
	clear:both;
	position:relative;
	left: 48%;
	display:none;
	margin: 2.5em 0;
}

.member-find-none {
	float:left;
	clear:both;
	margin: 1em 0 .5em 0;
	width: 100%;
}

.member-find-none-search {
	float:right;
	clear:both;
	width:100%;
}

.member-find-none-search:hover {
	/*color: #444;*/
}



/* end find section */

/* newsfeed */
.member-newsfeed-header {
	margin: .5em 0 0 .4em;
}

#notifications-none {
	display:none;
}


/* narrow column ratings */

.member-narrow-rating-icon {
	float:left;
	margin-right: .4em;
}

#member-narrow-rating-lower-container {
	float:left;
	clear:both;
	width: 100%;
	height: 7.2em;
	overflow: hidden;
}

.member-narrow-rating-container {
	float:left;
	width: 100%;
	display:none;
	border-top: solid 1px #e9e9e9;
	margin-top: .4em;
}

.member-narrow-rating-container:first-child {
	display:block;
}

/* narrow column pic */
.member-pic-container {
	position: relative;
}

.member-narrow-column-pic-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 162px;
	width: 202px;
	z-index: 1;
}

#member-narrow-column-pic-overlay-text {
	z-index: 4;
	opacity: 0;
}

#member-narrow-column-pic-overlay-text-bottom {
	margin-top: 4em;
}

#narrow-column-user-picture {
	position: relative;
	z-index: 2;
}

/* alerts */
#first-time-alert-container {
	width: 42em;
	margin-top: -10em;
	margin-left: -21em;
}

.find-result-players-container {
	margin-right: .5em;
}

.member-first-time-overview {
	width: 80%;
}

.member-first-time-button {
	margin: .5em 0 0 0;
	width:13em;
}

.member-first-time-sub {
	margin-left: 0em;
	margin-top: 1.5em;
}

#more-users-alert-container {
	width: 36em;
	margin-top: -10em;
	margin-left: -18em;
}

/* user is not allowed to find games */
#member-find-minimal-container {
	height:30em;
	top: 0;
	position:absolute;
}

.member-find-minimal-inner-container {
	position:absolute;
	top:0;
	left:0;
	height: 30em;
	z-index: 10;
}

#member-find-minimal-dark-back {
	background:#000;
	opacity: .75;
	z-index:9;
}