/* member.css for member homepage */

/* schedule section */

#member-schedule-days-container {
	float:right;
	width:auto;
}

.member-schedule-day-container {
	float: left;
	padding: 0 .4em;
	height: inherit;
	font-size: 19px;
	margin-left: 0em;
	max-height:32px;
}

.member-schedule-day-subtext {
	float:left;
	font-size: .6em;
}

.member-schedule-day {
	float:left;
	clear:both;
	margin-top: -.25em;
	padding: 0 .35em;
}

#member-schedule-body-container {
	float:left;
	clear:both;
	width: 100%;
	overflow:hidden;
}

.member-schedule-day-body-container {
	float:left;
	clear:both;
	display:none;
	padding: 0 2%;
	width: 96%;
	background:#fff;
}


.member-schedule-day-body-pagination-container {
	float:left;
	clear:both;
	width: 100%;
	/*height: 1.6em;*/
	margin: .5em 0 0 0;
}

.member-schedule-day-body-outer-container {
	float:left;
	width: 100%;
	overflow:hidden;
}

.member-schedule-day-body-inner-container {
	width: 600%;
	float:left;
}

.member-schedule-day-body-game-container {
	float:left;
	clear:none;
	width: 16.66%;
	padding: .3em .1em;

}

/*
.member-schedule-day-body-game-container:hover {
	background: #E6FFE6;
}
*/

.member-schedule-day-body-game-left-container {
	float:left;
	
}

.member-schedule-day-body-game-right-container {
	float:right;
	width: 28%;
}

.member-schedule-day-body-players-container,.member-schedule-day-body-team-players-container {
	float:right;
	width: 6em;
	margin: .3em 0 0 2em;
}

.member-schedule-day-body-team-players-container {
	float: left;
}

.member-schedule-day-body-players-confirmed {
	width:100%;
	margin-top: .35em;
}

.member-teamGame-confirmed {
	margin-bottom: -.1em;
}

.member-schedule-in,.member-schedule-out {
	margin-top: .2em;
}

.member-schedule-in {
	float:left;
	margin-left: 1.5em;
}

.member-schedule-out {
	float:right;
	margin-right: 1.5em;
}

.member-schedule-button-selected {
	background: #e9e9e9;
	padding-top: .1em;
}

.member-schedule-day-body-players,.member-schedule-day-body-players-text {
	float:left;
	width: 100%;
	color:inherit;
	font-family: inherit;
	height: .75em;
}


.member-schedule-day-none {
	margin: 3em 0 2em 0;
}

/*
.member-schedule-day-body-container:nth-child(2) {
	display:block;
}
*/

/* end schedule section */



/* find section */

.member-find-looking-container {
	float:right;
	margin: .5em .1em 0 0 ;
}

#member-find-looking {
	float:left;
	margin: .1em .4em 0 0 ;
}

#member-looking-sports,#member-looking-types {
	margin-right: .5em;
}

#member-looking-sports>.dropdown-menu-selected>.dropdown-menu-option-text, 
#member-looking-types>.dropdown-menu-selected>.dropdown-menu-option-text,
#member-looking-times>.dropdown-menu-selected>.dropdown-menu-option-text {
	color: #bbb; /* overwrite normal dropdown color */
}

#member-looking-sports>.dropdown-menu-selected>.dropdown-menu-container-reverse-text, 
#member-looking-types>.dropdown-menu-selected>.dropdown-menu-container-reverse-text,
#member-looking-times>.dropdown-menu-selected>.dropdown-menu-container-reverse-text{
	color: #fff;
}

#gmap {
	width: 99.8%;
	height: 20em;
	float:left;
	border:1px solid #222;
}

.member-find-lower-outer-container {
	float:left;
	clear:both;
	width:100%;
	overflow:hidden;
	height: 9em; /* 9em */
}

.member-find-lower-outer-inner-container {
	float:left;
	height:500%;
}

.member-find-lower-inner-container {
	float:left;
	clear:both;
}

.member-find-game-container {
	float:left;
	clear:both;
	border-bottom: 1px solid #e9e9e9;
	padding: .5em .5em .5em .5em;
}

a.member-find-game-container:hover {
	background: #E6FFE6;
}

.member-find-game-container > * {
	float:left;
	margin-left: .8em;
}

.member-find-game-number {
	float:left;
	padding: 0em .3em;
	margin-left: 0;
}

.member-find-game-sport {
	float:left;
	margin-left: 1em;
	width: 5em;
}

.member-find-game-type {
	width: 5.5em;
}

.member-find-game-players {
	width: 4em;
}

.member-find-game-date {
	width: 6em;
}

div.member-find-game-date-day,div.member-find-game-date-hour {
	width: 2.3em;
	color:inherit;
	float:left;
}

div.member-find-game-date-hour {
	width: 2.7em;
}

.member-find-game-park {
	width: 12em;
	margin-left: 1.5em;
}

.member-find-game-arrow {
	margin: .1em 0 0 0;
}

.member-find-view-more {
	float: right;
	clear: both;
	font-size: .9em;
	margin-top: -1.2em;
}


.member-find-loading {
	float:left;
	clear:both;
	position:relative;
	left: 48%;
	display:none;
	margin: 2.5em 0;
}

.member-find-none {
	float:left;
	clear:both;
	margin: 1em 0 .5em 0;
	width: 100%;
}

.member-find-none-search {
	float:right;
	clear:both;
	width:100%;
}

.member-find-none-search:hover {
	/*color: #444;*/
}



/* end find section */

/* newsfeed */
.member-newsfeed-header {
	margin: .5em 0 0 .4em;
}

#notifications-none {
	display:none;
}


/* narrow column ratings */

.member-narrow-rating-icon {
	float:left;
	margin-right: .4em;
}

#member-narrow-rating-lower-container {
	float:left;
	clear:both;
	width: 100%;
	height: 6em;
	overflow: hidden;
}

.member-narrow-rating-container {
	float:left;
	width: 100%;
	display:none;
	border-top: solid 1px #e9e9e9;
	margin-top: .4em;
}

.member-narrow-rating-container:first-child {
	display:block;
}

