/* member.css for member homepage */

/* schedule section */

#member-schedule-days-container {
	float:right;
	width:auto;
}

.member-schedule-day-container {
	float: left;
	padding: 0 .4em;
	height: inherit;
	font-size: 1.2em;
	margin-left: 0em;
}

.member-schedule-day-subtext {
	float:left;
	font-size: .6em;
}

.member-schedule-day {
	float:left;
	clear:both;
	margin-top: -.25em;
	padding: 0 .35em;
}



/* end schedule section */



/* find section */

.member-find-looking-container {
	float:right;
	margin: .5em .1em 0 0 ;
}

#member-find-looking {
	float:left;
	margin: .1em .4em 0 0 ;
}

#member-looking-sports {
	margin-right: .5em;
}

#member-looking-sports>.dropdown-menu-selected>.dropdown-menu-option-text, #member-looking-types>.dropdown-menu-selected>.dropdown-menu-option-text {
	color: #bbb;
}

#gmap {
	width: 99.8%;
	height: 20em;
	float:left;
	border:1px solid #222;
}

.member-find-lower-outer-container {
	float:left;
	clear:both;
	width:100%;
	overflow:hidden;
	height: 9em;
}

.member-find-lower-outer-inner-container {
	float:left;
	height:500%;
}

.member-find-lower-inner-container {
	float:left;
	clear:both;
}

.member-find-game-container {
	float:left;
	clear:both;
	border-bottom: 1px solid #e9e9e9;
	padding: .5em .5em .5em .5em;
}

a.member-find-game-container:hover {
	background: #E6FFE6;
}

.member-find-game-container > * {
	float:left;
	margin-left: .8em;
}

.member-find-game-number {
	float:left;
	padding: 0em .3em;
	margin-left: 0;
}

.member-find-game-sport {
	float:left;
	margin-left: 1em;
	width: 5em;
}

.member-find-game-type {
	width: 5.5em;
}

.member-find-game-players {
	width: 4em;
}

.member-find-game-date {
	width: 6em;
}

div.member-find-game-date-day,div.member-find-game-date-hour {
	width: 2.3em;
	color:inherit;
	float:left;
}

div.member-find-game-date-hour {
	width: 2.7em;
}

.member-find-game-park {
	width: 12em;
	margin-left: 1.5em;
}

.member-find-game-arrow {
	margin: .1em 0 0 0;
}

.member-find-view-more {
	float: right;
	clear: both;
	font-size: .9em;
	margin-top: -1.2em;
}


.member-find-loading {
	float:left;
	clear:both;
	position:relative;
	left: 48%;
	display:none;
	margin: 2.5em 0;
}



/* end find section */


/* newsfeed section */

.newsfeed-notification-container {
	float:left;
	clear:both;
	padding: .4em .1em .4em 1em;
	border-bottom: 1px solid #e9e9e9;
}

.newsfeed-notification-img {
	float:left;
}

.newsfeed-notification-text-container {
	float:left;
	margin-left: 1em;
	width: 92.5%;
	line-height: .95em;
}