/* rating.css */

.rating-star-back-large {
	height: inherit;
	margin-top: -40px;
	position:relative;
	z-index: 0;
}


/* ratings */
.ratings-container {
	margin-top: 2em;
}

.rating-container {
	width: 96%;
	padding: .3em 2%;
	margin: 1.2em 0;
	/*border-bottom: 1px solid #e9e9e9;*/
}

.rating-right {
	width: 88%;
	margin-left: 1em;
}

/* user rating (parks) */
#rating-comment {
	width: 98%;
	max-width: 98%;
	height: 3em;
	max-height: 3em;
	padding: .1em .2em;
}

.ratings-user-container {
	border-bottom: none;
	margin-bottom: 1em;
}

/* ratings for user page */
#ratings-sports {
	margin-top: 1em;
}

.rating-bar-text-container {
	/*border-right: 1px solid #fff;*/
	height:inherit;
}

.rating-bar-text-container:last-child {
	border: none;
}

.rating-bar-text-container:last-child > .rating-bar-separator {
	display:none;
}

.rating-bar-text {
	margin-top: .1em;
	width: 99%;
}

.rating-bar-separator {
	height: inherit;
	width: 1%;
	background: #fff;
}

.rating-outer {
	margin-top: 0;
}

#dropdown-menu-sports > a > .dropdown-menu-option-text {
	margin-top: .25em;
}
