/* settings.css */

.header-section-title-plain-container {
	margin-top: 0;
}

input[type=text], input[type=password] {
	width: 14em;
}

#headerSearchBar {
	width: 13em;
}

header {
	margin-bottom: .5em;
}

.green-back {
	background: #58bf12;
}

/* tabs */
.settings-tab {
	padding: .2em 2%;
	color: #D9D9D9;
	width: 85%;
}

.settings-tab:hover {
	color: #bbb;
}

.settings-tab-selected {
	color: #8d8d8d;
	background: #e9e9e9;
}

.settings-tab-selected:hover {
	color: #8d8d8d;
}

/* containers */
#settings-left-container {
	width: 24%;
}

#settings-right-container {
	width: 76%;
}

.settings-container {
	/*border: 1px solid #ccc;*/
	width: 94%;
	padding: 1em;
}

.settings-sub-header {
	margin-top: 1em;
}


/* login info */
.settings-input-separate {
	margin-left: 1em;
}

#signupPassword-container {
	clear:both;
}

.settings-separate > .input-container{
	margin-left: 1em;
}

.settings-small > .input-container > input[type=text] {
	width: 2em;
}


/* user info */
#settings-profile-pic-container {
	margin-top: .5em;
	margin-right: 1em;
}

#settings-profile-pic:hover {
	margin-right: -1px;
	margin-top: -1px;
	border: 1px solid #222;
}

.settings-separator {
	margin: .65em .2em 0 .2em;
}
	
.signup-question-mark {
	float:left;
	margin: .65em 0 0 .3em;
}

.signup-dob-slash {
	float:left;
	margin: .6em .1em 0 .2em;
}

#settings-height-container {
	margin-left: 11.8em;
}


#street-container {
	margin-top: 1.5em;
}

#streetAddress {
	width: 20em;
}

#streetAddress-container {
	clear:both;
}

#zipcode-container {
}

#zipcode {
	width: 8em;
}

#settings-delete-account {
	margin-top: 1.5em;
}


/* games */
.settings-x {
	margin-top: 0em;
	opacity: 0;
}

.settings-x:hover {
	color:#A60000;
}

.settings-sports-indicator {
	width: .8em;
	height: .7em;
	margin-left: 1em;
}

.settings-sports-indicator-container {
	margin-top: 1.6em;
}

/* sports */
.settings-sport-icon-container {
	position:relative;
}

.settings-sport-icon-x {
	position:absolute;
	top: 0;
	left:0;
	z-index: 2;
	padding: 0 .25em;
	height: 1.2em;
}

#signup-sports-what {
	float:left;
	clear:both;
	font-size: 1.6em;
	margin: 0 0 .5em 0;
	width:100%;
}

.signup-sport-icon-container {
	float:left;
	margin-top: -.5em;
}

.signup-sport-icon,.signup-sport-icon-narrow-column {
	float:left;
	clear:both;
	margin: 0 0 0 1em;
	background: #8d8d8d;
}

.signup-sport-icon-narrow-column{
	clear:none;
	margin-left: .4em;
	display:none;
	
}

#signup-sports-icons-container {
	margin: 0 auto;
	width: 26em;

}

.signup-sports-form {
	width: 96%;
	float:left;
	clear:both;
	/*border: 1px solid #E0E0E0;*/
	padding: .5em .5em;
	
}

.signup-sports-hidden {
	margin-top: .5em;
	display:none;
	position:relative;
	z-index: 1;
}

.signup-sports-form-section {
	float:left;
	clear:both;
	padding: .2em 0em .4em .7em;
	width: 98%;
	border-bottom: 1px solid #e0e0e0;
}

.signup-sports-form-section-title {
	float:left;
}

.signup-skill-slider {
	width:38em;
	height: 1em;
	margin: .3em 0 0em 0;
}

.signup-sports-selectable {
	font-size: 1.3em;
	float:left;
	margin: .25em 2em 0 0;
}

.signup-sports-title {
	font-size: 1.7em;
}

.signup-sports-remove {
	float:right;
	position:relative;
	z-index:2;
	margin: 0 0 -.1em 0;
	padding: .1em .27em 0em .3em;
	background:#BF0000;
	-moz-border-radius: 3px;
	font-size:.8em;
	border-radius: 3px;
	opacity: 0;
}

.signup-sports-availability {
	border-bottom: none;
}

.signup-sports-availability-copy-container {
	float:right;
}

.signup-sports-availability-copy-container > p,.signup-sports-availability-copy-option-container  {
	margin: .15em 0 0 .5em;
	float:left;
}

.availabilty-calendar-container {
	margin-top: .3em;
}

.signup-sports-often > .selectable-text:last-child {
	margin-right: 0;
}

/* type */
.signup-type-prefix-container > .selectable-text:nth-child(even) {
	margin-left: 4.4em;
}

/* susbscribed games */
.settings-email-alert-on {
	margin-right: .75em;
}