/* signup.css */

/* signup section overlay */

.signup-section-container {
	float:left;
	clear:both;
	width:100%;
	margin-top: 3em;
}

.signup-section-title-container {
	float:left;
	clear:both;
	width:100%;
	height:3.0em;
	border-bottom: solid 2px #444;
	margin-bottom: 1em;
}

.signup-section-title {
	float:left;
	clear:both;
	font-size:1.5em;
	background: #444;
	padding: .1em .4em 0 .4em;
}

.signup-step-revise {
	float:left;
	clear:both;
	margin-bottom: -.1em;
}

.signup-section-steps {
	float:right;
	font-size:1.2em;
	margin-top:.3em;
}

.signup-step {
	float:left;
	clear:none;
	font-size: .8em;
	margin: .25em .2em 0 .2em;
	font-family: Arial, Helvetica, sans-serif;
	
}

.signup-step-bold {
	float:left;
}

#checkbox-container-noAddress {
	font-size: .9em;
	margin: .2em 0 0 1.9em;
}

#noAddress-text {
	position:absolute;
	z-index: 10;
	display:none;
}

/* end signup section overlay */


/* custom input styling */	

.input-container {
	margin-left: 1em;
	margin-top: 0em;
	font-size: 1.06em;
	padding-right: .1em;
}

#username-container, #password-container {
	font-size: .92em;
	margin: .5em 0;
	padding: 0 1em;
}

input.short-input {
	width: 2em;
}

#heightFeet-container {
	margin-left: 4.8em;
}

.signup-sex-img {
	float:left;
	width:30px;
	height:30px;
	margin: 0em 0 0 .5em;
	background:#8d8d8d;
}

.signup-sex-img:hover {
	background:#58bf12;
}

.signup-sex-img#signup-sex-male {
	margin-left: .15em;
	clear:both;
}

#signup-sex-container {
	margin: 0em 0 0 3.7em;
	float:left;
	text-align:center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #e0e0e0;
	padding: .1em .1em;
}

#signup-sex-container > p {
	float:left;
	font-size:.8em;
}
	

.signup-sex-selected {
	background: #58bf12;
}

.signup-clear-large {
	height: 3em;
}

.signup-dob-slash {
	float:left;
	margin: .4em 0 0 .2em;
}

.signup-dimension-indicator {
	opacity: 0;
	margin-top: -.2em;
}

#weight-indicator {
	margin-top: .4em;
}


#dobDay-container, #dobYear-container {
	margin-left:.2em;
}

.signup-question-mark {
	float:left;
	margin: 1em 0 0 .2em;
	font-size: .9em;
}

input.input-success {
	background: #E6FFE6;
	border: 1px solid #58bf12;
}

input.input-fail {
	background: #EDA9A9;
	border: 1px solid #C60000;
}

#signup-password-reqs {
	float:left;
	font-size:.9em;
	margin:0em 0 0 1em;
}

#zipcode-container {
	width: 20%;
}

#streetAddress-container {
	width: 70%;
}

#streetAddress {
	width: 98%;
}

#zipcode {
	width: 95%;
}

ul.green {
	float:left;
	clear:both;
	margin: 0 0 0 1em;
	font-size:.9em;
}

/* end custom styling of inputs */

/* narrow column */


.narrow-column-value {
	float:left;
	clear:both;
}

.narrow-column-fade {
	display:none;
}

#account-info-first-name {
	margin-right: .25em;
}


/* end narrow column */


/* sports section */

#signup-sports-what {
	float:left;
	clear:both;
	font-size: 1.6em;
	margin: 0 0 .5em 0;
	width:100%;
}

.signup-sport-icon-container {
	float:left;
	margin-top: -.5em;
}

.signup-sport-icon,.signup-sport-icon-narrow-column {
	float:left;
	clear:both;
	margin: 0 0 0 1em;
	background: #8d8d8d;
}

.signup-sport-icon-narrow-column{
	clear:none;
	margin-left: .4em;
	display:none;
	
}

#signup-sports-icons-container {
	margin: 0 auto;
	width: 30em;
	background:#ccc;
}

.signup-sports-form {
	width: 96%;
	float:left;
	clear:both;
	/*border: 1px solid #E0E0E0;*/
	display:none;
	padding: .5em .5em;
	
}

#signup-sports-hidden {
	margin-top: .5em;
}

.signup-sports-form-section {
	float:left;
	clear:both;
	padding: .2em .2em .4em .2em;
	width: 98%;
	border-bottom: 1px solid #8d8d8d;
}

.signup-skill-slider {
	position:relative;
	z-index:1;
	width:40em;
	height: 1em;
	margin: .3em 0 0em 0;
}

.signup-sports-selectable {
	font-size: 1.3em;
	float:left;
	margin: .25em 2em 0 0;
}

.signup-sports-title {
	font-size: 1.5em;
}

.signup-sports-remove {
	float:right;
	position:relative;
	z-index:2;
	margin: 0 0 -.1em 0;
	padding: .1em .27em 0em .3em;
	background:#BF0000;
	-moz-border-radius: 3px;
	font-size:.8em;
	border-radius: 3px;
	opacity: 0;

}