/* team profile css */

/* overwrites */

.body-column-wide {
	width: 76%;
}

.body-column-narrow{
	width: 24%;
}

.profile-narrow-rating-container {
	margin-top: .2em;
	margin-bottom: .5em;
}

.profile-name {
	/*max-width: 9.5em;*/
	max-width: 13em;
}

/* top section */

/* next game section */
.team-next-game-left-container {
	width: 68%;
}

.team-next-game-right-container {
	width: 27%;
	margin: .5em 1.5em 0 0;
}

#team-next-game-container {
	padding: 1em;
}

.team-player-going-description-container {
	opacity: 0;
}


/* previous games */
.team-narrow-game-container {
	margin: .5em 0;
}

/* alerts */
.team-manage-calendar {
	width: 30em;
	height: 28em;
	margin-left: .1em;
}

.team-manage-calendar > .calendar-container > .calendar-day {
	height: 13.3%;
}

.team-manage-calendar > .calendar-container > div {
	font-size: 1.25em;
}

.team-manage-calendar > .calendar-container > a > p.calendar-old-event {
	font-size: 2.2em;
}

.team-manage-calendar > .calendar-container > div.calendar-day {
	cursor: pointer;
}

#team-manage-calendar-clear {
	margin-left: 11.5em;
}


#manage-schedule-alert-container {
	margin-top: -16em;
	margin-left: -16em;
}

#tooltip-team-manage-winOrLoss,#tooltip-team-manage-addGame {
	z-index: 997;
	position: absolute;
}

#tooltip-team-manage-winOrLoss > #tooltip-body {
	background: #fff;
	width: 16em;
}

#tooltip-team-manage-addGame > #tooltip-body {
	background: #fff;
	width: 14em;
}

.tooltip-team-manage-winOrLoss-button {
	margin-left: 2.2em;
}

.tooltip-team-manage-winOrLoss-button:nth-child(2) {
	margin-left: 1.5em;
}

.x {
	cursor: pointer;
}

/*
#manage-schedule-time-hour {
	width: 3em;
	clear:left;
}

#dropdown-menu-manage-schedule-time-hour > .dropdown-menu-option-container {
	width: 3em;
}

#manage-schedule-time-minute, #manage-schedule-time-ampm {
	width: 3.4em;
}

#dropdown-menu-manage-schedule-time-minute > .dropdown-menu-option-container, #dropdown-menu-manage-schedule-time-ampm > .dropdown-menu-option-container {
	width: 3.4em;
}

#manage-schedule-time-ampm {
	margin-left: .8em;
}
*/
.team-manage-schedule-time-separator {
	margin: 0 .3em 0 .3em;
}


#teamManageScheduleAmPm {
	margin-left: .3em;
}

#team-manage-schedule-location-results {
	width: 100%;
	margin: .2em 0 0 0;
	font-size: .9em;
}

#teamManageScheduleAddress-container {
	margin-top: 0;
}

.team-manage-schedule-result {
	width: 96%;
	padding: .3em 2%;
	background: #fff;
}

.save-button,.delete-button {
	margin: .3em 0 ;
	padding-bottom: .1em;
}

.delete-button {
	display:none;
}

#team-manage-schedule-date {
	margin-top: .2em;
}

#tooltip-team-manage-addGame>#tooltip-body>.input-container {
	width: 14em;
}

#tooltip-team-manage-addGame > #tooltip-body > .input-container > .input-overlay {
	color: #bbb;
}

#team-manage-team-info-img-container {
	margin-left: 1em;
	width: 90%;
}

#team-manage-team-info-img:hover {
	outline: 1px solid #58bf12;
}

#team-manage-team-info-img-outer-container {
	width:25%;
}

.create-team-avatar-selected {
	border: solid 1px #58bf12;
	margin-top:-2px;
	margin-left:-2px;
}

/* remove players alert 
.team-manage-remove-player-overlay {
	float:left;
	clear:both;
	top: -96px;
	height:auto;
	z-index: 999;
}
*/



	 